:root{
    --arduinoDeepBlue: #156384;
    --arduinoBlue: #28A096;
}
body{
    margin:0
}
h1{
    color:rgb(249, 151, 107);
    padding-left: 30px;
}
#App{
    min-width:100vw;
    min-height:100vh;
    max-width:100vw;
    max-height:100vh;
    background-color:red; 
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-columns: 80% 20%;
}
#addSerial{
    background-color:var(--arduinoDeepBlue); 
    grid-column-start: 1;
    grid-column-end: last-line;
    grid-row-start: 1;
    grid-row-end: 2;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;;
}


#addSerial > * {
    margin: 10px;
    background-color:var(--arduinoBlue); 
    border: 0px;
    padding: 5px;
}
#styleNavBar{
    background-color:var(--arduinoBlue);
    grid-row-start: 2;
    grid-row-end: 3; 
    grid-column-start: 2;
    grid-column-end: 3;
}
#serialOutputContainer{
    display:flex;
    background-color:white; 
    grid-row-start: 2;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
}
.terminalViewer{
    border-style:solid;
    border-width:1px;
    border-color:black;
    height:100%;
    flex-grow:1;
    box-sizing: border-box;
    overflow: scroll;
}
.displayKeyWords{
    padding:10px;
}

.colorSelector{
    padding: 0;
    border: 0;
    background-color: transparent;
}

#submitKeywordInput
{
    display:flex;
    flex-direction:column;
    border-top: 1px;
    background-color: #77bfbf;
    padding: 30px;
}

.lineData{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
svg{
    padding-left:30px;
}